<!doctype html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
        <head th:replace="Header :: head"> 
	  
  </head> 
   
  <body>
	  	 <!----> 
     <nav th:insert="ListadoMarca :: nav">
	     
		</nav>
	  

	   <br/>
	    <br/>
    <div class="container">
    	<h4>Listado de Productos</h4>
    	
    	<button type="button" class="btn btn-primary  mb-2" id="agregarbtn" >Agregar Producto</button>
		
    	<table class="table table-hover" id="myTable">
    		<thead>
    			<tr>
    				<th scope="col">Código</th>
    				<th scope="col">Nombre</th>
    				<th scope="col">Precio</th>
    				<th scope="col">Marca</th>
    				<th scope="col">Foto</th>
    				<th scope="col">Estado</th>
    				<th></th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="m : ${lstProductos}">
    				<td th:text="${m.idproducto}"></td>
    				<td th:text="${m.nomProducto}"></td>
    				<td th:text="${m.precioPro}"></td>
    				<td th:text="${m.idMarca.descripcion}"></td>
    				<th scope="row"><img alt="" th:src="'data:image/jpeg;base64,' + ${m.foto}"  style="width:70px; height:70px;" ></th>
    				<!--<th scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{m.foto}}" style="width:70px; height:70px;" ></th>
    				-->
    				<td th:text="${m.estado ==1 ? 'Disponible' : 'No Disponible'}"></td>
    				

					<!--	<button class="btn btn-warning editarbtn"> Actualizar</button>-->
    				<td>

						<button type="button" class="btn btn-danger deletebtn">
							<i class="fas fa-trash-alt"></i>  Eliminar</button>
    				</td>
    			</tr>
    		</tbody>
    	</table>    
    </div>
    
    <div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
		</button>
      </div>
      <div class="modal-body">
		<form th:action="@{/grabarProducto}" th:object="${Producto}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="hidden" class="form-control" id="codigo" th:field="*{idproducto}">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre de Producto</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nomProducto}" >
          </div>  
          <div class="form-group">
            <label for="precio">Precio </label>
            <input type="text" class="form-control" id="precio" th:field="*{precioPro}" >
          </div>  
            <div class="form-group" >
			<input type="hidden" th:field="*{foto}"/>
		  <label for="foto" >Foto (Solo Admite Formato JPG)</label>
           <input type="file" class="form-control" name="image">
          </div>
          <div class="form-group">
					<label for="inputCategoria">Marca</label>
					<select id="inputCategoria" class="form-control" th:field="*{idMarca}">
						<option th:value="-1" th:text="Seleccione"></option>
						<option th:each="c : ${lstMarcaporEstado}" th:value="${c.codigo}" th:text="${c.descripcion}"></option>
						<!--<option th:value="1" th:text="Pastillas"></option>-->
					</select>
				</div>      
            <div class="form-group">
					<label for="inputEstado">Estado</label>
					<select id="inputEstado" class="form-control" th:field="*{estado}">
						<option th:value="-1" th:text="Seleccione"></option>
						<option th:value="1" th:text="Disponible"></option>
						<option th:value="2" th:text="'No disponible'"></option>
					</select>
				</div>
          
		     <div class="modal-footer">
				 <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-success" id="guardarMarca">SI, Guardar</button>
		      </div>
   
        </form>
      </div>
    
    </div>
  </div>
</div>


<!--	<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--		aria-hidden="true" data-bs-backdrop="static">-->
<!--		<div class="modal-dialog" role="document">-->
<!--			<div class="modal-content">-->
<!--				<div class="modal-header">-->
<!--					<h5 class="modal-title">Editar Producto</h5>-->
<!--					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">-->
<!--						<span aria-hidden="true">&times;</span>-->
<!--					</button>-->
<!--				</div>-->
<!--				<div class="modal-body">-->
<!--					<form th:action="@{/editarProducto}" th:object="${Producto}" method="post"-->
<!--						enctype="multipart/form-data">-->
<!--						<div class="form-group">-->
<!--							<input type="hidden" class="form-control" id="codigoeditar" th:field="*{idproducto}">-->
<!--						</div>-->
<!--						<div class="form-group">-->
<!--							<label for="nombre">Nombre de Productos</label>-->
<!--							<input type="text" class="form-control" id="descripcioneditar" th:field="*{nomProducto}">-->
<!--						</div>-->
<!--						<div class="form-group">-->
<!--							<label for="precio">Precio </label>-->
<!--							<input type="text" class="form-control" id="precioeditar" th:field="*{precioPro}">-->
<!--						</div>-->
<!--						<div class="form-group">-->
<!--							<input type="hidden" th:field="*{foto}" />-->
<!--							<label for="foto">Foto </label>-->
<!--							<input type="file" class="form-control" name="image" id="imagefile">-->
<!--						</div>-->
	
<!--						<div class="form-group">-->
<!--							<label for="inputmarca">Marca</label>-->
<!--							<select id="marcaeditar" class="form-control" th:field="*{idMarca}">-->
<!--								<option th:value="-1" th:text="Seleccione"></option>-->
<!--								<option th:each="s: ${lstMarcaporEstado}" th:value="${s.codigo}" th:text="${s.descripcion}">-->
<!--								</option>-->
<!--							</select>-->
<!--						</div>-->
	
<!--						<div class="form-group">-->
<!--							<label for="inputEstado">Estado</label>-->
<!--							<select id="estadoeditar" class="form-control" name="estado" th:field="*{estado}">-->
<!--								<option value="1">Disponible</option>-->
<!--								<option value="2">No Disponible</option>-->
<!--							</select>-->
<!--						</div>-->
	
<!--						<div class="modal-footer">-->
<!--							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>-->
<!--							<button type="submit" class="btn btn-success" id="guardarMarca">SI, Editar</button>-->
<!--						</div>-->
	
<!--					</form>-->
	
<!--				</div>-->
	
<!--			</div>-->
	
<!--		</div>-->
<!--	</div>-->
   <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
		</button>
      </div>
      <div class="modal-body">
		<form th:action="@{/eliminarProducto}"  method="post">
          <div class="form-group">
            <input type="hidden" class="form-control" name="idproducto" id="codigoeliminar" >
		
		<span id="descripcionpro">
			
			
		</span>
          </div>
      
          
		     <div class="modal-footer">
				 <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-danger" >SI, Eliminar</button>
		      </div>
   
        </form>
      </div>
    
    </div>
  </div>
</div>


			<script src="https://code.jquery.com/jquery-3.7.1.min.js" ></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" ></script>
		<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script> 
    
   
	<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
        
        
    });
	</script>
	
	<script>
		$(document).ready(function(){
			$('#agregarbtn').on('click',function(){
				$('#modalAgregar').modal('show');
			})
		});
	</script>
	<script>
		$(document).ready(function(){
			$('.deletebtn').on('click',function(){
				$('#modalEliminar').modal('show');
				$tr = $(this).closest('tr');
				var data = $tr.children("td").map(function(){
					return $(this).text();
				}).get();
				console.log(data);
				$('#codigoeliminar').val(data[0]);
				$('#descripcionpro').text("¿Está seguro de eliminar el Producto  "+data[1] +  " ? ");
			})
		});
	</script>
	
	
	<!-- Agrega SweetAlert al final de tu página HTML, después de cargar Bootstrap y otros scripts -->
				<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
				
			<script th:inline="javascript">
			    /* Comprueba si hay un mensaje de error o éxito en los atributos de redirección */
			    var uniquemarca = /*[[@{${uniquemarca}}]]*/ null;
			    var rsuccess = /*[[@{${rsuccess}}]]*/ null;
			    var asuccess = /*[[@{${asuccess}}]]*/ null;
			    var esuccess = /*[[@{${esuccess}}]]*/ null;
			
			    /* Función para mostrar mensajes de error o éxito */
			    function showSweetAlert(icon, title, message, color) {
			        Swal.fire({
			            icon: icon,
			            title: title,
			            text: message,
			            confirmButtonColor: color
			        });
			    }
			
			    /* Verifica si hay un mensaje de error y muestra SweetAlert en caso de existir */
			    document.addEventListener('DOMContentLoaded', function () {
			        if (uniquemarca) {
			            showSweetAlert('error', 'Error', uniquemarca, '#dc3545');
			        } else if (rsuccess) {
			            showSweetAlert('success', 'Éxito', rsuccess, '#28a745');
			        } else if (asuccess) {
			            showSweetAlert('success', 'Éxito', asuccess, '#28a745');
			        } else if (esuccess) {
			            showSweetAlert('success', 'Éxito', esuccess, '#28a745');
			        }
			    });
			</script>

<!--<script>-->
<!--		$(document).ready(function(){-->
<!--			$('.editarbtn').on('click',function(){-->
<!--				$('#modalEditar').modal('show');-->
<!--				$tr = $(this).closest('tr');-->
<!--				var data = $tr.children("td").map(function(){-->
<!--					return $(this).text();-->
<!--				}).get();-->
<!--				console.log(data);-->

<!--				$('#codigoeditar').val(data[0]);-->
<!--				$('#descripcioneditar').val(data[1]);-->
<!--				$('#precioeditar').val(data[2]);-->
			
	
    
				
							

<!--			if (data[4] === "Disponible") {-->
<!--			  $('#estadoeditar').val("1");-->
<!--			} else if (data[4] === "No Disponible") {-->
<!--			  $('#estadoeditar').val("2");-->
<!--				}-->
<!--			});-->
<!--		});-->
<!--	</script>-->

	
	  </body>
</html>

	
